<div *ngIf="items.length; else emptyCart">
    <h3>Your Cart</h3>
    <h4>Total quantity: {{ quantity }}</h4>
    <h4>Total sum: {{ sum }}$</h4>
    <ul>
        <li *ngFor="let item of items; let i = index">
            <app-cart-item [cartItem]="item"
            (removeCartItem)="onRemoveCartItem($event)"
            (increaseQuantity)="onIncreaseQuantity($event)"
            (decreaseQuantity)="onDecreaseQuantity($event)"
></app-cart-item>
        </li>
    </ul>
    <button (click)="cartService.clearCart()">Clear cart</button>
</div>
     
<ng-template #emptyCart>
    <h3>Youtr Cart is empty</h3>
</ng-template>
