.product-card {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    background-color: #e7e6e6;  
    border: 1px solid #1976d2;

}

.product-card h2 {
    text-align: center; 
}

.product-card p {
    padding: 10px;
    margin-top: 0;
    margin-bottom: 0;
}

.product-card button {
    margin: 12px auto;
    max-width: 100px;
    font-size: 12px;
    line-height: 20px;
    height: 30px;
    padding: 5px 15px;
}