<div class="product-card" [ngClass]="{'not-available': !product.isAvailable}" appColorize appSelect="red">
    <h2>Product Card</h2>
    <p>Name: {{ product.name }}</p>
    <p>Description: {{ product.description }}</p>
    <p>Price: {{ product.price }}$</p>
    <p>Product related Items:</p>
    <ul *ngFor="let item of product.items">
      <li>{{ item }}</li>
    </ul>
  
    <p>Category: {{ product.category }}</p>
    <div class="buy-controls">
        <label for="quantity">Quantity</label>
        <input id="quantity" type="number" [(ngModel)]="quantity">
        <button [disabled]="!product.isAvailable" (click)="onBuyProduct(product, quantity)" class="buy-btn">Buy</button>
      </div>
</div>
